In [26]:
%reset -f
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import seaborn as sns
from scipy import stats

In [27]:
data_studentInfo=pd.read_csv("studentInfo.csv")
data_studentInfo.pop("id_student")
filename="studentinfo.arff"

data_studentInfo.head()

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [28]:
data_studentInfo=pd.read_csv("studentInfo.csv")
data_studentInfo.head()

data_assesments=pd.read_csv("students_asses_combined.csv")
data_assesments.pop("Unnamed: 0")

data_vle=pd.read_csv("vle_combined.csv")
data_vle.pop("Unnamed: 0")

data_studentInfo=pd.merge(data_studentInfo, data_assesments, how='left', on=['code_module','code_presentation','id_student'])
data_studentInfo=pd.merge(data_studentInfo, data_vle, how='left', on=['code_module','code_presentation','id_student'])
data_studentInfo.pop("id_student")

filename="studentinfo_assesments_vle_only_pass_fail.arff"

data_studentInfo

,code_module,code_presentation,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,...,sum_clicks40,sum_clicks60,sum_clicks80,sum_clicks100,mean_clicks0,mean_clicks20,mean_clicks40,mean_clicks60,mean_clicks80,mean_clicks100
0,AAA,2013J,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,...,628,713,791,934,6.904545,4.723002,4.206386,4.415033,4.424001,4.250956
1,AAA,2013J,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,...,874,1063,1417,1435,3.287954,3.154050,2.857137,2.625161,2.798992,2.732375
2,AAA,2013J,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,...,281,281,281,281,2.491162,3.469192,3.469192,3.469192,3.469192,3.469192
3,AAA,2013J,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,...,1181,1550,1896,2158,3.624762,2.956942,3.139172,3.025253,2.986959,3.007250
4,AAA,2013J,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,...,742,826,913,1034,3.954785,3.510630,3.285475,3.027455,2.813736,2.685387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32588,GGG,2014J,F,Wales,Lower Than A Level,10-20,0-35,0,30,N,...,41,41,41,41,1.500000,2.027778,2.027778,2.027778,2.027778,2.027778
32589,GGG,2014J,F,East Anglian Region,Lower Than A Level,40-50%,35-55,0,30,N,...,84,516,868,893,0.000000,2.544118,2.186275,2.820069,2.854581,2.681378
32590,GGG,2014J,F,South Region,A Level or Equivalent,20-30%,0-35,0,30,Y,...,82,164,305,312,2.142857,1.546131,1.994615,2.100879,2.409217,2.326505
32591,GGG,2014J,F,South East Region,Lower Than A Level,90-100%,35-55,0,30,N,...,275,275,275,275,3.380682,3.772727,3.675019,3.675019,3.675019,3.675019
32592,GGG,2014J,F,Yorkshire Region,HE Qualification,50-60%,35-55,0,30,N,...,399,499,576,616,2.583333,2.901065,3.027078,3.142380,3.109331,3.410037

In [29]:
data_studentInfo[data_studentInfo["imd_band"]=='?'].shape
mode_imd=stats.mode(data_studentInfo["imd_band"].values)[0][0]

for ind in range(0,data_studentInfo.shape[0]):
    
    if data_studentInfo.iloc[[ind]]["imd_band"].values[0]=='?':
        data_studentInfo.at[ind,"imd_band"]=mode_imd

print(data_studentInfo.dtypes)

code_module              object
code_presentation        object
gender                   object
region                   object
highest_education        object
imd_band                 object
age_band                 object
num_of_prev_attempts      int64
studied_credits           int64
disability               object
final_result             object
CS20                    float64
CS40                    float64
CS60                    float64
CS80                    float64
CS100                   float64
PCS20                   float64
PCS40                   float64
PCS60                   float64
PCS80                   float64
PCS100                  float64
LS20                      int64
LS40                      int64
LS60                      int64
LS80                      int64
LS100                     int64
RS20                    float64
RS40                    float64
RS60                    float64
RS80                    float64
RS100                   float64
date_registration       float64
sum_clicks0               int64
sum_clicks20              int64
sum_clicks40              int64
sum_clicks60              int64
sum_clicks80              int64
sum_clicks100             int64
mean_clicks0            float64
mean_clicks20           float64
mean_clicks40           float64
mean_clicks60           float64
mean_clicks80           float64
mean_clicks100          float64
dtype: object

In [30]:
fout=open(filename,"w")
fout.write("@RELATION student_info\n\n")

dum_str=""
for arg in data_studentInfo.columns:
    
    dtype=data_studentInfo[arg].dtype
    
    if dtype==object:
        dum_str=dum_str+'@ATTRIBUTE '+arg+' {'
        
        for ind in data_studentInfo[arg].unique():
            
            dum_str=dum_str+'"'+ind+'",'
    
        dum_str=dum_str[:-1]+'}\n'
        
    if dtype=="int64" or dtype=="float64":
        dum_str=dum_str+'@ATTRIBUTE '+arg+" Numeric\n"

dum_str=dum_str+'\n@data\n'

for i in tqdm(range(0,data_studentInfo.shape[0])):
    
    for arg in data_studentInfo.columns:

        dtype=data_studentInfo[arg].dtype

        if dtype==object:
            dum_str=dum_str+'"'+data_studentInfo.iloc[[i]][arg].values[0]+'",'

        if dtype=="int64" or dtype=="float64":
            dum_str=dum_str+str(data_studentInfo.iloc[[i]][arg].values[0])+','
    
    dum_str=dum_str[:-1]+'\n'
    
fout.write(dum_str)
fout.close()

100%|██████████████████████████████████████████████████████████████████████████| 32593/32593 [1:12:03<00:00,  7.54it/s]